@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'waterlily';
    src: url(assets/fonts/waterlily/Waterlily.ttf) format("truetype");
}

:root {
    --color: #FDF4E6;
    --seccolor: rgb(174, 174, 222);
    --maxw: 1500px
}

html {
    scroll-behavior: smooth;
}



* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* overflow-x: hidden; */
}


body {
    position: relative;
    overflow-x: hidden;
}



/* Home start */

.container0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(assets/images/bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* top: 0px; */
    background-attachment: fixed;
}

.container0 .box {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
}

.container0 .navbar {
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    transition: background-color 0.5s ease-in;
}

.navbar nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    color: white;

    padding: 0px 150px;
    box-sizing: border-box;
    max-width: var(--maxw);

    transition: color 2s ease-in;
    height: 77.2px;

}

.navscroll {
    background-color: black;
}

.navbar nav .navlist {
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding: 25px;
    justify-content: center;
    align-items: center;

    font-size: 17px;
    position: relative;

}

.know-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar nav .navlist li:hover,
.navbar nav .navlist li a:hover,
.navbar nav .navlist .in-view a {
    transform: scale(1.1) !important;
    color: var(--color) !important;
    transition: all 0.1s ease-in-out;
    svg path {stroke: var(--color) !important;};
    cursor: pointer;

    
}


.navbar nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    
}

.navbar nav .logo #logo-text{
    font-family: 'waterlily';
}

.navbar nav .logo img {
    height: 60px;
    border-radius: 50px;

}

.donate-btn {
    padding: 10px 20px;
    font-size: larger;
    font-weight: 600;
    background-color: var(--color);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;

}

.container0 .text {
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 0;

    /* position: absolute; */
    /* top: 38vh; */
}



.container0 .text span:nth-child(1) {
    color: var(--color);
    font-size: 50px;
    font-weight: bold;

}

.container0 .text span:nth-child(2) {
    color: black;


    font-size: 40px;
    font-weight: bold;

}

.container0 .text span:nth-child(3) {
    color: rgb(255, 255, 255);


    font-size: 30px;
    font-weight: 400;
    padding: 40px 0 0 0;
}


/* Sidebar start */

.menu {
    background-color: var(--color);
    /* height: 300px; */
    width: 200px;
    position: fixed;
    top: 77.2px;
    right: 75px;
    z-index: 10;
    border-radius: 10px;

    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out !important;
}


.menu .menulist {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;

}

.menu .menulist a {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1.5px 0;
}

.menu .menulist a:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid black;
}

.menu .menulist a:hover,
.menu .menulist a.in-view {
    background-color: black;
    color: white !important;
}

.menulist li{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menulist li a{
    border: none !important;
    border-radius: 0 !important;
    font-size: 15px;
}

/* Sidebar end */

/* Drop down =============== (Temporary CSS) JS will be implemented later */

.navbar .navlist .know-more:hover~.dropdown {
    height: 134.4px !important;
}

.dropdown {
    background-color: var(--color);
    position: absolute;
    top: 77.2px;
    right: 105px;
    z-index: 10;
    border: none;
    border-radius: 5px;

    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out !important;
}

.dropdown:hover {
    height: 134.4px !important;

}

.dropdown:hover~.know-more {           /*not working*/
    transform: scale(1.1) !important;
    color: var(--color) !important;

}

.dropdown .droplist {

    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.dropdown ul a {
    padding: 10px;
    color: black;
}

.dropdown .droplist a:hover {
    background-color: black;
    color: white !important;
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}


/* Home end */

/* Feeding zone start */

.fz{
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

    height: 0;
    overflow: hidden;
}

.fz img{
    height: 80%;
    max-width: 98vw;
    padding: 10px 0;
}

.fz .fz-btn{
    display: flex;
    gap: 10px;

}

.fz .fz-btn button{
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
}

.download-btn{
    background-color: var(--color);

}

.download-btn:hover{
    cursor: pointer;
    background-color: #bbb4a7 !important;
    transition: all 0.1s ease-in-out;
}

.close-btn{
    background-color: red;
    display: flex;
    align-items: center;
}

.close-btn:hover{
    cursor: pointer;
    background-color: rgb(252, 84, 84) !important;
    transition: all 0.1s ease-in-out;
}

.show-fz{
    height: 100vh;
    width: 100vw;

}

/* Feeding zone end */

/* About-Us start */

.container1 {
    display: flex;
    justify-content: center;

    height: 100vh;
    position: relative;
    background-color: var(--color);

    align-items: center;

}

.container1 .content1 {
    max-width: var(--maxw);
    width: 100vw;
    padding: 0 150px;
    margin: 100px 0;
    box-sizing: border-box;


    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

.container1 .content1 .header1 {
    position: relative;
    display: flex;
    font-size: 28px;
    font-weight: 600;
    align-items: center;
    gap: 40px;
    left: 0;

    padding-bottom: 30px;
}

.container1 .content1 .header1 .line {
    border-bottom: 5px solid black;
    width: 180px;

}

.container1 .content1 .text-box1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container1 .content1 .c1text {
    position: relative;
    max-width: calc(var(--maxw)*0.45);
    padding-left: 60px;

}

.container1 .content1 .c1text .p1 {

    padding-bottom: 20px;
}

.container1 .content1 .c1text .c1text-list ul li {
    display: flex;
    padding: 10px;
    gap: 10px;

}

.container1 .content1 .c1text .c1text-list ul div {
    padding-left: 40px;
}

.container1 .content1 .container1-pic {
    width: 100%;
    display: flex;
    justify-content: end;
}

.container1 .content1 .container1-pic img {
    margin: 15px;
    width: 365px;
    right: 150px;
    top: 85px;

}

/* About-Us end */

/* Genesis start */

.container2 {
    display: flex;
    justify-content: center;

    height: 70vh;
    position: relative;
    background-color: white;

    align-items: flex-start;

}

.container2 .content2 {
    max-width: var(--maxw);
    width: 100vw;
    padding: 0 150px;
    margin: 100px 0;
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

.container2 .content2 .header2box {
    display: flex;
    justify-content: end;
    width: 100%;
}

.container2 .content2 .header2 {
    position: relative;
    display: flex;
    font-size: 28px;
    font-weight: 600;
    align-items: center;
    gap: 40px;
    left: 0;

    padding-bottom: 30px;
}

.container2 .content2 .header2 .line {
    border-bottom: 5px solid black;
    width: 180px;

}

.container2 .content2 .text-box2 {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.container2 .content2 .c2text {
    position: relative;
    max-width: calc(var(--maxw)*0.45);
    padding-left: 60px;
    display: flex;
    /* text-align: end; */
    align-items: center;

}

.container2 .content2 .c1text .p2 {

    padding-bottom: 20px;
}

.container2 .content2 .container2-pic img {

    width: 400px;
    /* right: 150px;
    top: 85px; */

}

/* Genesis end */

/* Stories start */

.container3 {


    display: flex;
    justify-content: center;

    height: 90vh;
    position: relative;
    background-color: var(--color);

    align-items: flex-start;
    overflow: hidden;
}

.container3 .content3 {
    max-width: var(--maxw);
    width: 100vw;
    padding: 0 150px;
    margin: 100px 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 50px;

}

.container3 .content3 .header3box {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.container3 .content3 .header3 {
    position: relative;
    display: flex;
    font-size: 28px;
    font-weight: 600;
    align-items: center;
    gap: 40px;
    left: 0;

    padding-bottom: 30px;
}

.container3 .content3 .header3 .line {
    border-bottom: 5px solid black;
    width: 180px;

}

.container3 .content3 .header3 .line:last-child {
    border-bottom: 5px solid black;
    width: 630px;

}

/* container 3 swiper----------------- */

.swiper {
    display: flex;
    width: 50%;
    height: 50%;
    max-width: 100%;
}



.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.swiper {
    margin-left: auto;
    margin-right: auto;

    height: 50vh;
    width: 70vw;
    max-height: 482px;
    min-height: 350px;
}

.swiper-button-prev-n {
    position: absolute;
    left: 20px;
    z-index: 10;
    top: 45%;
}

.swiper-button-next-n {
    position: absolute;
    right: 20px;
    z-index: 10;
    top: 45%;
}

.swiper-btn svg {
    width: 60px;
}

.swiper-btn:hover {
    cursor: pointer;
}

.swiper-pagination-bullet {
    background-color: white !important;
}

/* Stories end */

/* Donate start */

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 45vh;
    position: relative;
    background-color: black;


}

.container4 .content4 {
    max-width: var(--maxw);
    width: 100vw;
    height: 100%;
    padding: 45px 146px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;




}


.container4 .content4 .donate-box {
    background-color: black;
    max-width: var(--maxw);
    height: 250px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 35px;

}

.container4 .content4 .donate-box .donate-text {
    text-align: center;
    max-width: 70%;
    font-size: 24px;
}

.donate-btn:nth-child(2) {
    padding: 20px 40px;
    font-size: x-large;
}

/* Donate end */

/* faq start */

.container5 {
    display: flex;
    justify-content: center;

    height: auto;
    position: relative;
    background-color: white;

    align-items: flex-start;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/faq-box-pic.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.container5 .content5 {
    max-width: var(--maxw);
    width: 100vw;
    padding: 0 150px;
    margin: 100px 0;
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;


}

.container5 .content5 .header5box {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.container5 .content5 .header5 {
    position: relative;
    display: flex;
    font-size: 28px;
    font-weight: 600;
    align-items: center;
    gap: 40px;
    left: 0;

    padding-bottom: 30px;
    color: white;
}

.container5 .content5 .header5 .line {
    border-bottom: 5px solid white;
    width: 180px;

}

.container5 .content5 .faq-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.container5 .content5 .faq-wrapper .faq-box {
    padding-top: 1.5rem;
    margin-top: 0.5rem;
    border-bottom: 3px solid black;
    cursor: pointer;

    background-color: var(--color);

    padding-left: 2rem;
    padding-right: 2rem;

}

.container5 .content5 .faq-wrapper .faq-box .question {
    display: flex;
    justify-content: space-between;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.6s;

}

.answer p {
    padding: 25px 0px;

}

.container5 .content5 .faq-wrapper .active .answer {

    height: auto;
    max-height: 122px;

}

/* faq end */


.container7 {
    display: flex;
    justify-content: center;

    height: auto;
    position: relative;
    background-color: black;

    align-items: flex-start;

}

.container7 .content7 {
    max-width: var(--maxw);
    width: 100vw;
    height: 100%;
    padding: 45px 146px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.footer-title{
    padding-bottom: 30px;
}


.footer-desc{
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.footer-desc .contact{
    display: flex;
    flex-direction: column;
}

.whatsapp-contacts, .tech-contacts, .email, .links{
    padding-top: 20px;
}

h5{
    font-weight: 300;
}
.container7 .content7 a:hover{
    transform: scale(1.1) !important;
}
/* Footer end */

/* Copyright start */

.container8 {
    display: flex;
    justify-content: center;

    height: 60px !important;
    position: relative;
    background-color: rgb(25, 25, 25);

    align-items: center;

}

.container8 .content8 {
    max-width: var(--maxw);
    width: 100vw;
    padding: 0 150px;
    margin: 100px 0;
    box-sizing: border-box;


    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

